

<form class="form-inline accueil-form" method="post" >


    <div class="form-group">
        {{ form_row(form.titre) }}
    </div>
    <div class="form-group">
        {{ form_row(form.millesime) }}
    </div>
    <div class="form-group">
        {{ form_row(form.couleur) }}
    </div>

    <div class="form-group">

        {{ form_widget(form.prix) }}€
    </div>

    {{ form_widget(form._token) }}

    <button type="submit" class="btn btn-primary">Rechercher</button>
</form>
